USE [master]
GO
/****** Object:  Database [CHRONOSDB]    Script Date: 8/7/2018 6:08:06 PM ******/
CREATE DATABASE [CHRONOSDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CHRONOSDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\CHRONOSDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CHRONOSDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\CHRONOSDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CHRONOSDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CHRONOSDB]
GO
USE [CHRONOSDB]
GO
/****** Object:  Table [dbo].[Departamentos]    Script Date: 8/7/2018 6:08:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Departamentos](
	[IdDepartamento] [int] IDENTITY(1000,1) NOT NULL,
	[Departamento] [varchar](50) NOT NULL,
	[Activo] [bit] NOT NULL,
 CONSTRAINT [PK_tbDepartamentos] PRIMARY KEY CLUSTERED 
(
	[IdDepartamento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Dependencias]    Script Date: 8/7/2018 6:08:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dependencias](
	[IdDependencia] [int] IDENTITY(1000,1) NOT NULL,
	[Sector/Direcccion/Dependencia] [varchar](50) NOT NULL,
	[CentroFuncional] [varchar](50) NOT NULL,
	[Telefono] [varchar](15) NOT NULL,
	[Activo] [bit] NOT NULL,
 CONSTRAINT [PK_tbClientes_Autorizados] PRIMARY KEY CLUSTERED 
(
	[IdDependencia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EstadoSolicitudes]    Script Date: 8/7/2018 6:08:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EstadoSolicitudes](
	[IdEstado] [int] IDENTITY(1000,1) NOT NULL,
	[Estado] [varchar](50) NOT NULL,
	[Activo] [bit] NOT NULL,
 CONSTRAINT [PK_tbEstado_Solicitudes] PRIMARY KEY CLUSTERED 
(
	[IdEstado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HistorialActualizacionesSolicitudes]    Script Date: 8/7/2018 6:08:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HistorialActualizacionesSolicitudes](
	[IdActualizacion] [int] NOT NULL,
	[Solicitud] [int] NOT NULL,
	[CambiaDepartamento] [bit] NOT NULL,
	[DepartamentoPrevio] [int] NULL,
	[CambiaEstado] [bit] NOT NULL,
	[EstadoPrevio] [int] NULL,
	[CambiaUsuarioAsignado] [bit] NOT NULL,
	[UsuarioPrevio] [int] NOT NULL,
	[FechaCambio] [datetime] NOT NULL,
 CONSTRAINT [PK_tbHistorialActualizacionesSolicitudes] PRIMARY KEY CLUSTERED 
(
	[IdActualizacion] ASC,
	[Solicitud] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Maquinas]    Script Date: 8/7/2018 6:08:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Maquinas](
	[IdMaquina] [int] IDENTITY(1000,1) NOT NULL,
	[Maquina] [varchar](50) NOT NULL,
	[Departamento] [int] NOT NULL,
	[Activo] [bit] NOT NULL,
 CONSTRAINT [PK_tbMaquinas] PRIMARY KEY CLUSTERED 
(
	[IdMaquina] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Solicitantes]    Script Date: 8/7/2018 6:08:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Solicitantes](
	[IdSolicitante] [int] IDENTITY(1000,1) NOT NULL,
	[Solicitante] [varchar](50) NOT NULL,
	[Activo] [bit] NOT NULL,
 CONSTRAINT [PK_Solicitantes] PRIMARY KEY CLUSTERED 
(
	[IdSolicitante] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SolicitudesServicio]    Script Date: 8/7/2018 6:08:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SolicitudesServicio](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Solicitud] [int] NOT NULL,
	[FechaEmision] [date] NOT NULL,
	[Dependencia] [int] NOT NULL,
	[NumeroCuenta] [bigint] NOT NULL,
	[Solicitante] [int] NOT NULL,
	[Aprobado] [int] NOT NULL,
	[TipoEntrega] [int] NOT NULL,
	[DireccionEntrega] [varchar](100) NOT NULL,
	[DetalleServicio] [varchar](300) NOT NULL,
	[ReproduccionesTotales] [int] NOT NULL,
	[CostoTotal] [float] NOT NULL,
	[EstadoActual] [int] NOT NULL,
	[DepartamentoActual] [int] NOT NULL,
	[MaquinaAsignada] [int] NULL,
	[UsuarioAsignado] [int] NULL,
	[Activo] [bit] NOT NULL,
 CONSTRAINT [PK_tbSolicitudes_Servicio] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TiposEntrega]    Script Date: 8/7/2018 6:08:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TiposEntrega](
	[IdTipoEntrega] [int] IDENTITY(1000,1) NOT NULL,
	[TipoEntrega] [varchar](50) NOT NULL,
	[Activo] [bit] NOT NULL,
 CONSTRAINT [PK_Table_1tbTipos_Entrega] PRIMARY KEY CLUSTERED 
(
	[IdTipoEntrega] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 8/7/2018 6:08:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[IdUsuario] [int] IDENTITY(1000,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Apellidos] [varchar](50) NOT NULL,
	[NombreDeUsuario] [varchar](50) NOT NULL,
	[Contraseña] [varchar](50) NOT NULL,
	[Departamento] [int] NOT NULL,
	[Activo] [bit] NOT NULL,
 CONSTRAINT [PK_Usuario] PRIMARY KEY CLUSTERED 
(
	[IdUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[HistorialActualizacionesSolicitudes]  WITH CHECK ADD  CONSTRAINT [FK_tbHistorialActualizacionesSolicitudes_tbDepartamentos] FOREIGN KEY([DepartamentoPrevio])
REFERENCES [dbo].[Departamentos] ([IdDepartamento])
GO
ALTER TABLE [dbo].[HistorialActualizacionesSolicitudes] CHECK CONSTRAINT [FK_tbHistorialActualizacionesSolicitudes_tbDepartamentos]
GO
ALTER TABLE [dbo].[HistorialActualizacionesSolicitudes]  WITH CHECK ADD  CONSTRAINT [FK_tbHistorialActualizacionesSolicitudes_tbEstadoSolicitudes] FOREIGN KEY([EstadoPrevio])
REFERENCES [dbo].[EstadoSolicitudes] ([IdEstado])
GO
ALTER TABLE [dbo].[HistorialActualizacionesSolicitudes] CHECK CONSTRAINT [FK_tbHistorialActualizacionesSolicitudes_tbEstadoSolicitudes]
GO
ALTER TABLE [dbo].[HistorialActualizacionesSolicitudes]  WITH CHECK ADD  CONSTRAINT [FK_tbHistorialActualizacionesSolicitudes_tbSolicitudesServicio] FOREIGN KEY([Solicitud])
REFERENCES [dbo].[SolicitudesServicio] ([ID])
GO
ALTER TABLE [dbo].[HistorialActualizacionesSolicitudes] CHECK CONSTRAINT [FK_tbHistorialActualizacionesSolicitudes_tbSolicitudesServicio]
GO
ALTER TABLE [dbo].[HistorialActualizacionesSolicitudes]  WITH CHECK ADD  CONSTRAINT [FK_tbHistorialActualizacionesSolicitudes_tbUsuarios] FOREIGN KEY([UsuarioPrevio])
REFERENCES [dbo].[Usuarios] ([IdUsuario])
GO
ALTER TABLE [dbo].[HistorialActualizacionesSolicitudes] CHECK CONSTRAINT [FK_tbHistorialActualizacionesSolicitudes_tbUsuarios]
GO
ALTER TABLE [dbo].[Maquinas]  WITH CHECK ADD  CONSTRAINT [FK_tbMaquinas_tbDepartamentos] FOREIGN KEY([Departamento])
REFERENCES [dbo].[Departamentos] ([IdDepartamento])
GO
ALTER TABLE [dbo].[Maquinas] CHECK CONSTRAINT [FK_tbMaquinas_tbDepartamentos]
GO
ALTER TABLE [dbo].[SolicitudesServicio]  WITH CHECK ADD  CONSTRAINT [FK_SolicitudesServicio_Dependencias] FOREIGN KEY([Dependencia])
REFERENCES [dbo].[Dependencias] ([IdDependencia])
GO
ALTER TABLE [dbo].[SolicitudesServicio] CHECK CONSTRAINT [FK_SolicitudesServicio_Dependencias]
GO
ALTER TABLE [dbo].[SolicitudesServicio]  WITH CHECK ADD  CONSTRAINT [FK_SolicitudesServicio_Solicitantes] FOREIGN KEY([Solicitante])
REFERENCES [dbo].[Solicitantes] ([IdSolicitante])
GO
ALTER TABLE [dbo].[SolicitudesServicio] CHECK CONSTRAINT [FK_SolicitudesServicio_Solicitantes]
GO
ALTER TABLE [dbo].[SolicitudesServicio]  WITH CHECK ADD  CONSTRAINT [FK_SolicitudesServicio_Usuarios] FOREIGN KEY([Aprobado])
REFERENCES [dbo].[Usuarios] ([IdUsuario])
GO
ALTER TABLE [dbo].[SolicitudesServicio] CHECK CONSTRAINT [FK_SolicitudesServicio_Usuarios]
GO
ALTER TABLE [dbo].[SolicitudesServicio]  WITH CHECK ADD  CONSTRAINT [FK_tbSolicitudes_Servicio_tbClientesAutorizados] FOREIGN KEY([Dependencia])
REFERENCES [dbo].[Dependencias] ([IdDependencia])
GO
ALTER TABLE [dbo].[SolicitudesServicio] CHECK CONSTRAINT [FK_tbSolicitudes_Servicio_tbClientesAutorizados]
GO
ALTER TABLE [dbo].[SolicitudesServicio]  WITH CHECK ADD  CONSTRAINT [FK_tbSolicitudes_Servicio_tbDepartamentos] FOREIGN KEY([DepartamentoActual])
REFERENCES [dbo].[Departamentos] ([IdDepartamento])
GO
ALTER TABLE [dbo].[SolicitudesServicio] CHECK CONSTRAINT [FK_tbSolicitudes_Servicio_tbDepartamentos]
GO
ALTER TABLE [dbo].[SolicitudesServicio]  WITH CHECK ADD  CONSTRAINT [FK_tbSolicitudes_Servicio_tbEstadoSolicitudes] FOREIGN KEY([EstadoActual])
REFERENCES [dbo].[EstadoSolicitudes] ([IdEstado])
GO
ALTER TABLE [dbo].[SolicitudesServicio] CHECK CONSTRAINT [FK_tbSolicitudes_Servicio_tbEstadoSolicitudes]
GO
ALTER TABLE [dbo].[SolicitudesServicio]  WITH CHECK ADD  CONSTRAINT [FK_tbSolicitudes_Servicio_tbMaquinas] FOREIGN KEY([MaquinaAsignada])
REFERENCES [dbo].[Maquinas] ([IdMaquina])
GO
ALTER TABLE [dbo].[SolicitudesServicio] CHECK CONSTRAINT [FK_tbSolicitudes_Servicio_tbMaquinas]
GO
ALTER TABLE [dbo].[SolicitudesServicio]  WITH CHECK ADD  CONSTRAINT [FK_tbSolicitudes_Servicio_tbTiposEntrega] FOREIGN KEY([TipoEntrega])
REFERENCES [dbo].[TiposEntrega] ([IdTipoEntrega])
GO
ALTER TABLE [dbo].[SolicitudesServicio] CHECK CONSTRAINT [FK_tbSolicitudes_Servicio_tbTiposEntrega]
GO
ALTER TABLE [dbo].[SolicitudesServicio]  WITH CHECK ADD  CONSTRAINT [FK_tbSolicitudes_Servicio_tbUsuarios] FOREIGN KEY([UsuarioAsignado])
REFERENCES [dbo].[Usuarios] ([IdUsuario])
GO
ALTER TABLE [dbo].[SolicitudesServicio] CHECK CONSTRAINT [FK_tbSolicitudes_Servicio_tbUsuarios]
GO
ALTER TABLE [dbo].[Usuarios]  WITH CHECK ADD  CONSTRAINT [FK_tbUsuarios_tbDepartamentos] FOREIGN KEY([Departamento])
REFERENCES [dbo].[Departamentos] ([IdDepartamento])
GO
ALTER TABLE [dbo].[Usuarios] CHECK CONSTRAINT [FK_tbUsuarios_tbDepartamentos]
GO
/****** Object:  StoredProcedure [dbo].[spListaSolicitudesDeServicio]    Script Date: 8/7/2018 6:08:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Jeison Mena N
-- Create date: 7/26/2018
-- Description:	Lista las solicitudes de servicio para Index
-- =============================================
CREATE PROCEDURE [dbo].[spListaSolicitudesDeServicio] 
AS
BEGIN
	SET NOCOUNT ON;

    SELECT	[IdSolicitud]
			,CA.ClienteAutorizado AS Cliente
			,[NumeroCuenta]
			,[Solicitante]
			,[Aprobado]
			,[FechaEmision]
			,TE.TipoEntrega AS TipoEntrega
			,[DireccionEntrega]
			,[DetalleServicio]
			,[ReproduccionesTotales]
			,[CostoTotal]
			,ES.Estado AS EstadoActual
			,D.Departamento AS DepartamentoActual
			,M.Maquina AS MaquinaAsignada
			,U.Nombre AS UsuarioAsignado
			,SS.[Activo]
	FROM	[dbo].[SolicitudesServicio] SS
				INNER JOIN [dbo].[ClientesAutorizados] CA
					ON SS.Cliente = CA.IdCliente 
				INNER JOIN [dbo].[TiposEntrega] TE
					ON SS.TipoEntrega = TE.IdTipoEntrega
				INNER JOIN [dbo].[EstadoSolicitudes] ES
					ON SS.EstadoActual = ES.IdEstado
				INNER JOIN [dbo].[Departamentos] D
					ON SS.DepartamentoActual = D.IdDepartamento
				INNER JOIN [dbo].[Maquinas] M
					ON SS.MaquinaAsignada = M.IdMaquina
				INNER JOIN [dbo].[Usuarios] U
					ON SS.UsuarioAsignado = U.IdUsuario
END
GO
USE [master]
GO
